.tags-container {
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.tags-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
